* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #30345a;
}

header {
  height: 96px;
}

hr {
  margin: 50px 115px 0px 115px;
  width: 88%;
}

.navbar {
  margin: 38px 115px 0px 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar a {
  color: gray;
  text-decoration: none;
}
.navbar a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: underline;
}
.navbar .contanct {
  margin-right: 5px;
}
.navbar .galka {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar .galka:hover {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.navbar p {
  color: #ffffff;
  text-decoration: none;
}
.navbar .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 60px 0px 237px;
  gap: 60px;
}
.navbar .btn_call button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
  width: 153px;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(142, 136, 193);
  border-radius: 8px;
  background: rgb(75, 72, 100);
}
.navbar .btn_call button:hover {
  background: rgb(142, 136, 193);
}
.navbar .btn_call button:not(:hover) {
  transition: -1s;
}

.bulb {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 115px;
  height: 520px;
}
.bulb .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 573px;
  height: 393px;
  margin: 0px 0px 0px 115px;
}
.bulb .top_btn {
  width: 145px;
  height: 41px;
  border-radius: 8px;
  color: rgb(142, 136, 193);
  background: rgb(75, 72, 100);
  border: 1px solid rgb(75, 72, 100);
  margin-bottom: 50px;
}
.bulb .top_btn:hover {
  background: rgb(94, 91, 121);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.bulb h2 {
  font-size: 36px;
}
.bulb h3 {
  margin-top: 27px;
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(142, 136, 193);
}
.bulb .bottom_btn {
  width: 200px;
  height: 56px;
  border-radius: 8px;
  color: #ffffff;
  background: rgb(63, 80, 231);
  border: 1px solid rgb(75, 72, 100);
}
.bulb .bottom_btn:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: rgb(81, 97, 241);
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.2);
          box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.2);
}
.bulb .img_bulb {
  margin: 0px 115px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bulb .img_bulb .bulbulator {
  position: relative;
  border-radius: 8px;
  border: 1px solid rgb(75, 72, 100);
  background: rgb(130, 126, 172);
}
.bulb .img_bulb .squareCut {
  width: 470px;
  height: 506px;
  border-radius: 8px;
  background: rgb(63, 59, 98);
  position: absolute;
  -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 80%);
}

.zaebalovo {
  background: #071341;
  height: 764px;
}
.zaebalovo .cards {
  margin-top: 59px;
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
}
.zaebalovo .cards .nice-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.2);
          box-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.2);
  background: rgb(255, 255, 255);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 208px;
}
.zaebalovo .cards .nice-card .sunimg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.zaebalovo .cards .nice-card button {
  border-radius: 20px;
  background: rgb(63, 80, 231);
  width: 118px;
  height: 30px;
  color: #ffffff;
  border: 1px solid rgb(63, 80, 231);
  font-size: 14px;
}
.zaebalovo .cards .nice-card button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: rgb(78, 96, 253);
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
}
.zaebalovo .cards .hyinya {
  color: rgb(255, 255, 255);
  font-size: 16px;
  width: 142px;
  height: 40px;
}
.zaebalovo .cards p {
  color: rgb(142, 136, 193);
  margin-bottom: 60px;
}
.zaebalovo .cards .dcard1 {
  border: 2px solid rgb(142, 136, 193);
  border-radius: 8px;
  text-align: center;
  width: 209px;
  height: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.zaebalovo .cards .dcard2 {
  border: 2px solid rgb(142, 136, 193);
  border-radius: 8px;
  text-align: center;
  width: 209px;
  height: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.zaebalovo .cards .dcard3 {
  border: 2px solid rgb(142, 136, 193);
  border-radius: 8px;
  text-align: center;
  width: 209px;
  height: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.zaebalovo .cards .dcard4 {
  border: 2px solid rgb(142, 136, 193);
  border-radius: 8px;
  text-align: center;
  width: 209px;
  height: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.zaebalovo .bigWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 100%;
}
.zaebalovo .bigWord h2 {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
}
.zaebalovo .bigWord h3 {
  margin-top: 10px;
  color: rgb(142, 136, 193);
  font-size: 16px;
  text-align: center;
}
.zaebalovo .sunsets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.zaebalovo .sunsets .first_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  gap: 19px;
}
.zaebalovo .sunsets .first_project .square1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56.14px;
  height: 56px;
  border-radius: 8px;
  background: rgb(255, 104, 83);
}
.zaebalovo .sunsets .first_project h4:nth-child(1) {
  color: #ffffff;
}
.zaebalovo .sunsets .first_project h4:nth-child(2) {
  color: rgb(142, 136, 193);
}
.zaebalovo .sunsets .two_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  gap: 19px;
}
.zaebalovo .sunsets .two_project .square2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56.14px;
  height: 56px;
  border-radius: 8px;
  background: rgb(255, 83, 124);
}
.zaebalovo .sunsets .two_project h4:nth-child(1) {
  color: #ffffff;
}
.zaebalovo .sunsets .two_project h4:nth-child(2) {
  color: rgb(142, 136, 193);
}
.zaebalovo .sunsets .three_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  gap: 19px;
}
.zaebalovo .sunsets .three_project .square3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56.14px;
  height: 56px;
  border-radius: 8px;
  background: rgb(128, 210, 196);
}
.zaebalovo .sunsets .three_project h4:nth-child(1) {
  color: #ffffff;
}
.zaebalovo .sunsets .three_project h4:nth-child(2) {
  color: rgb(142, 136, 193);
}
.zaebalovo .sunsets .four_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  gap: 19px;
}
.zaebalovo .sunsets .four_project .square4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56.14px;
  height: 56px;
  border-radius: 8px;
  background: rgb(63, 80, 231);
}
.zaebalovo .sunsets .four_project h4:nth-child(1) {
  color: #ffffff;
}
.zaebalovo .sunsets .four_project h4:nth-child(2) {
  color: rgb(142, 136, 193);
}
.zaebalovo .sunsets .five_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  gap: 19px;
}
.zaebalovo .sunsets .five_project .square5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56.14px;
  height: 56px;
  border-radius: 8px;
  background: rgb(149, 203, 124);
}
.zaebalovo .sunsets .five_project h4:nth-child(1) {
  color: #ffffff;
}
.zaebalovo .sunsets .five_project h4:nth-child(2) {
  color: rgb(142, 136, 193);
}